<div class="row">
  <h2>Create an App</h2>

  <div class="mb-3">
    <label class="form-label">App Name</label>
    <input [(ngModel)]="appData.name" class="form-control" placeholder="Whatsapp">
    <div id="emailHelp" class="form-text">Your app name must be unique.</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Icon</label>
    <input (change)="handleFileSelect($event)" class="form-control" type="file" accept="image/*" placeholder="Upload your app icon"/>
    <img [src]="appData.icon" style="max-height: 6rem;" class="img-thumbnail" alt="Waiting for image">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input [(ngModel)]="appData.description" class="form-control" placeholder="Use this app to chat privatly with your friends"/>
  </div>
  <div class="mb-3">
    <label class="form-label">Category</label>
    <input [(ngModel)]="appData.category" class="form-control" placeholder="Communication"/>
  </div>
  <div class="mb-3 form-check">
    <input [(ngModel)]="appData.public" type="checkbox" class="form-check-input" id="publicCheckbox">
    <label class="form-check-label" for="publicCheckbox">Publicly visible</label>
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label" for="publicCheckbox">For what device is the app</label>
    <select [(ngModel)]="appData.deviceName">
      <option *ngFor="let role of devices">{{role}}</option>
    </select>
  </div>
  <button (click)="addApp()" class="btn btn-primary">Save</button>
</div>
