<div *ngIf="appData" class="row">
  <h2>Details of {{appData.name}}</h2>

  <div class="col-md-6" style="position: relative;">
    <img [src]="appData.icon" style="max-height: 10rem;" class="img-thumbnail" alt="Waiting for image">
    <div *ngIf="!appData.public" class="ribbon-bookmark-h" data-tor="place.left place.top" title="Hidden"><i class="fa-solid fa-eye-slash"></i></div>
  </div>
  <div class="col-md-6">
    <p>Aangemaakt op {{appData.createdAt | date:'full'}}</p>
    <a [routerLink]="['/app-update', appData._id]" class="col-md-4 btn btn-primary">App aanpassen</a>
    <a  (click)="deleteApp()" style="float: right" class="col-md-4 btn btn-danger">App verwijderen</a>
  </div>

  <h4 class="mt-4">Description</h4>
  <p>{{appData.description}}</p>
  <h4>Categorie</h4>
  <p>{{appData.category}}</p>
  <div class="row">
    <div class="mb-3">
      <label class="form-label">Comment toevoegen</label>
      <input [(ngModel)]="comment" class="form-control" placeholder="Comment"/>
    </div>
    <button (click)="addComment()" class="btn btn-primary mb-3">Add comment</button>
    <div class="col-sm-12" *ngFor="let p of comments2; let i=index;">
      <p><button (click)="deleteComment(p._id)" class="btn btn-danger">delete comment</button>{{p.username}}: {{p.comment}}</p>
    </div>
  </div>
</div>
