<h1>De Avans Appstore!</h1>
<h5>Wat is De Avans Appstore?</h5>
<p>
  De Avans Appstore is voor de studenten van Avans om hun zelf gemaakten applicaties op een centraal punt te kunnen delen met elkaar.
  <br>Bij iedere app kan je ook een rating en een reactie toevoegen. Hierdoor kan je snel zien welke app het nou echt goed doet!
  <br>Vind jij een app nou echt leuk? Voeg deze dan toe aan je favorieten!
</p>

<h5>Wie kan mij app allemaal zien?</h5>
<p>Iedereen van zowel binnen als buiten Avans kan de apps zien. Wil je liever je app nog niet openbaar hebben? Dan kan je hem op privé zetten!</p>

<h5>Wie kan mijn app-details beheren?</h5>
<p>Degene die de app aangemaakt heeft is ook de beheerder. Voor de rest kan niemand jouw details aanpassen.</p>

<h5>Hoe laat ik een reactie achter?</h5>
<p>Onderaan de app-details pagina kan je een reactie achterlaten.</p>

<h5>Hoe voeg ik mijn eigen OS to aan de keuzelijst?</h5>
<p>Alleen een admin kan een OS/apparaat toevoegen aan het systeem.</p>

<h5>Hoe word ik een admin?</h5>
<p>Een andere admin kan mensen hun rollen beheren.</p>


<h4>Notes/Todo</h4>
<p>
  De bovenstaande FAQ/omschrijving is mijn casus. Ik heb het in FAQ vorm gedaan zodat je een mooi beeld krijgt van de applicatie.
  <br>Deployments gaan automatisch naar Heroku via Github
  <br>Het datamodel wat hiervoor gebruikt is:
</p>
<div class="row">
  <div class="col-md-6">
    Apps:
    <ul>
      <li>name: String</li>
      <li>description: String</li>
      <li>category: String</li>
      <li>public: Boolean</li>
      <li>icon: String</li>
      <li>deviceName: String</li>
      <li>user_id: String</li>
      <li>pictures: String</li>
    </ul>
    Comments:
    <ul>
      <li>name: String</li>
      <li>username: String</li>
      <li>user_id: String</li>
      <li>appId: String</li>
    </ul>
    Devices:
    <ul>
      <li>name: String</li>
    </ul>
    Users:
    <ul>
      <li>email: String</li>
      <li>password: String</li>
      <li>user_id: String</li>
      <li>token: String</li>
      <li>role: String</li>
    </ul>
  </div>
  <div class="col-md-6">
    <p>Datamodel</p>
    <img src="/assets/images/erd2.png" alt="erd1" style="max-height: 18rem;">
  </div>
</div>

<h4>User stories</h4>
<h5>Als user wil ik een apps overzicht hebben.</h5>
<h5>Als user wil ik app details zien.</h5>
<h5>Als user wil ik kunnen registreren.</h5>
<h5>Als user wil ik kunnen inloggen.</h5>
<br>
<h5>Als developer wil ik een app kunnen aanmaken.</h5>
<h5>Als developer wil ik mijn app kunnen verwijderen.</h5>
<h5>Als developer wil ik mijn app kunnen updaten.</h5>
<br>
<h5>Als admin wil ik alles doen wat een developer kan doen</h5>
<h5>Als admin wil ik alles apps kunnen beheren.</h5>
<h5>Als admin wil ik alles comments kunnen verwijderen.</h5>
<h5>Als admin wil ik devices kunnen toevoegen en verwijderen.</h5>
<h5>Als admin wil ik andere users kunnen beheren.</h5>
